@page
@model HardwareCheckoutSystemWeb.Pages.HomeModel
@{
    ViewData["Title"] = "Home";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}



<div class="container-fluid">

    <div class="row">
        <div class="col-sm-9 col-md-6 col-lg-8 col-xl-10 bg-success">
            <div class="container-fluid">
                <h2>All Devices</h2>                
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Email</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>John</td>
                            <td>Doe</td>
                            <td>john@example.com</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-md  center-block">Request</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Mary</td>
                            <td>Moe</td>
                            <td>mary@example.com</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-md  center-block">Request</button>
                            </td>
                        </tr>
                        <tr>
                            <td>July</td>
                            <td>Dooley</td>
                            <td>july@example.com</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-md  center-block">Request</button>
                            </td>
                        </tr>                        
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2 bg-warning">
            <div class="container-fluid">
                <h2>Request statuses</h2>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Request 1</a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                Request info
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Request 2</a>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">
                                Request info
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Request 3</a>
                            </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">
                                Request info
                            </div>
                        </div>
                    </div>
                </div>     
                <button type="button" class="btn btn-primary btn-md pull-right" >Open</button>
            </div>
            
        </div>
    </div>

</div>



